@import "../../../styles/breakpoints", "../../../styles/typography";

.root {
  --width: 60px;

  position: relative;
  padding: {
    bottom: 110px;
    left: 22px;
    right: 22px;
  }

  background: {
    color: transparent;
    image: var(--empty-list);
    repeat: no-repeat;
    size: var(--width);
    position: 50% 65%;
  }

  @include breakpoint(medium) {
    --width: 80px;

    padding: {
      top: 22px;
      bottom: 140px;
    }
  }

  @include breakpoint(large) {
    --width: 90px;

    padding-bottom: 160px;
  }
}

.text {
  @include p-normal;

  display: block;
  text-align: center;
  margin: 0 auto;
  color: var(--first-text-color);
}
