@import "../../../styles/breakpoints", "../../../styles/typography";

.root {
  margin: {
    bottom: 30px;
    left: 22px;
    right: 22px;
  }

  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    margin: {
      bottom: 38px;
      left: 44px;
      right: 44px;
    }
  }

  @include breakpoint(large) {
    margin: {
      bottom: 50px;
      left: 66px;
      right: 66px;
    }
  }
}

.heading {
  @include h1;

  color: var(--first-text-color);

  @include breakpoint(medium) {
    display: inline-block;
  }
}
