@import "../../../styles/breakpoints", "../../../styles/animations";

.loading {
  margin: 16px auto;
  width: 32px;
  height: 32px;
  border: solid 3px var(--accent-color);
  border: {
    radius: 50%;
    right-color: transparent;
    bottom-color: transparent;
  }

  transition: all 0.5s ease-in;
  animation: {
    name: rotate;
    duration: 1s;
    iteration-count: infinite;
    timing-function: linear;
  }

  @include breakpoint(medium) {
    margin: 32px auto;
  }
}
