@import "./styles/breakpoints", "./styles/containers", "./styles/buttons";

.root {
  @include container(large);
}

.mainBlock {
  padding: 18px 0;
  width: 100%;
  background-color: var(--main-background-color);
  border-radius: 18px;
  box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.06);

  @include breakpoint(medium) {
    padding: {
      top: 40px;
      bottom: 26px;
    }

    border-radius: 26px;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.08);
  }
}

.addRecipeBtn {
  @extend %add-recipe-button;
}
